<div class="main">
  <div class="container-fluid">
    <h1>About Us</h1>
    <p class="ps"></p>
    <p class="ps1"></p>

    <div class="info">
      <div class="greet">
        <h1>
          Welcome To <br />
          <span>Company Name</span>
        </h1>
      </div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quas, rem
        eum eius neque minima ullam incidunt consequuntur itaque saepe
        exercitationem possimus quibusdam. Dolorum similique placeat ratione
        minus quaerat ipsa? Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Ex quas, rem eum eius neque minima ullam incidunt consequuntur
        itaque saepe exercitationem possimus quibusdam. Dolorum similique
        placeat ratione minus quaerat ipsa? Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Ex quas, rem eum eius neque minima ullam
        incidunt consequuntur itaque saepe exercitationem possimus quibusdam.
        Dolorum similique placeat ratione minus quaerat ipsa? Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Vero, aspernatur? Quos similique
        eius doloremque architecto reiciendis, facilis fuga cupiditate impedit
        maiores ipsum, eaque totam! Eaque quaerat beatae autem velit cupiditate?
      </p>
    </div>

    <div class="contact">
      <h2>You Can Reach Us On :</h2>
      <p class="ps"></p>
      <p class="ps1"></p>
      <ul class="list-unstyled">
        <li class="media">
          <i class="fa fa-phone" aria-hidden="true" style="color:  rgb(0, 225, 255);"></i>
          <div class="media-body">
            <a href="tel:#">Phone Number</a>
          </div>
        </li>
        <li class="media my-4">
          <i class="fa fa-envelope" aria-hidden="true" style="color:  rgb(0, 225, 255);"></i>
          <div class="media-body">
            <a href="mailto:#">Mail@mail.com</a>
          </div>
        </li>
        <li class="media">
          <i class="fa fa-map-marker" aria-hidden="true" style="color:  rgb(0, 225, 255); padding-left: 7px; font-size: 2.5rem; cursor: text;"></i>
          <div class="media-body">
            <p class="add">Address</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
